.headerContainer {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 99;
  -webkit-box-shadow: 2px 7px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 7px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 7px 5px 0px rgba(0, 0, 0, 0.75);
}

.headerWrapper {
  max-width: 1400px;
  margin: 0 auto;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 30px;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 30px;
}

.price {
  display: flex;
  align-items: center;
  gap: 3px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .headerWrapper {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .headerLeft {
    justify-content: center;
    margin-bottom: 10px;
  }

  .headerRight {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .headerWrapper {
    padding: 10px 5px;
  }

  .logo h1 {
    font-size: 20px;
  }

  .headerRight {
    gap: 10px;
  }

  .price span {
    font-size: 14px;
  }
}
